%div{:class=>"navbar"}
  %div{:class=>"navbar-inner"}
    %div{:class=>"container"}
      %div{:class=>"brand"}
        %span
          PBS - 
          =yield :title
      %ul{:class=>"nav"}
        %li
          =link_to posters_path, {:title=>"Hjem"} do
            %i{:class=>"icon-home"}

        - if permitted_to? :create, :posters
          %li
            =link_to new_poster_path, {:title=>"Lag ny plakat"} do
              %i{:class=>"icon-plus"}

        - if permitted_to? :archive, :posters
          %li
            =link_to archive_posters_path, {:title=>"G책 til arkiv"} do
              %i{:class=>"icon-briefcase"}

        - if permitted_to? :cancel, :posters
          %li
            =link_to cancel_posters_path, {:title=>"G책 til avbestilte"} do
              %i{:class=>"icon-remove"}

        - if permitted_to? :take, :posters
          %li
            =link_to take_posters_path, {:title=>"G책 til de du har ansvar for"} do
              %i{:class=>"icon-heart"}

        - if permitted_to? :create, :posters
          %li
            =link_to order_posters_path, {:title=>"G책 til de du har bestilt"} do
              %i{:class=>"icon-shopping-cart"}

        - if permitted_to? :create, :dimensions
          %li
            =link_to dimensions_path, {:title=>"Rediger dimensjoner"} do
              %i{:class=>"icon-fullscreen"}

        %li{:class=>"divider-vertical"}

        - if params[:order]=="asc"
          %li
            =link_to params.merge(:order => "desc"), {:title=>"Sorter synkende"} do
              %i{:class=>"icon-arrow-up"}
        - else
          %li
            =link_to params.merge(:order => "asc"), {:title=>"Sorter stigende"} do
              %i{:class=>"icon-arrow-down"}

        - if @sort_column
          %li
            %ul{:class=>"nav", :role=>"navigation"}
              %li{:class=>"dropdown"}
                %a{:class=>"dropdown-toggle", :'data-toggle'=>"dropdown", :href=>"#"}
                  Sortert etter: #{Poster.human_attribute_name @sort_column}
                  %span{:class=>"caret"}
                %ul{:class=>"dropdown-menu"}
                  - Poster.column_names.each do |name|
                    %li
                      =link_to Poster.human_attribute_name(name), params.merge(:sort => name)

      %ul{:class=>"nav pull-right"}
        %li
          - if @current_user
            =link_to '/logout', {:title=>"Logg ut"} do
              #{@current_user.full_name} - 
              %b
                logg ut
          - else
            = semantic_form_for Member.new, :url => login_path, :html=>{:class=>"login-form form-horizontal"} do |form|
              = form.text_field :mail, :value=>@mail, :placeholder=>t("user")
              = form.text_field :passord, :placeholder=>t("password"), :type=>:password
              = form.submit "Logg inn"
