%h1
  Arkiverte plakater
%p
  =link_to posters_path do
    Tilbake

%ul
  - @posters.each do |t|
    - if t.archived
      %li
        %span #{t.id}: #{t.name}
        %a= link_to "show", t
        %a= link_to "edit", :action => "edit", :id => t
        %a= link_to "delete", t,:confirmation => "Are you sure?", :method => :delete
        %a= link_to "restore", restore_poster_path(t), :method => :put
