- content_for :title, 'Vis Plakat'
= stylesheet_link_tag "assetgrid.css"

%div{:class => 'container'}
  %h2
    = @poster.name

  %div{:class=>"list_buttons"}
    - if @poster.status==:active
      - if permitted_to? :edit, @poster
        =link_to "Rediger", edit_poster_path(@poster), {:class=>"underline", :title=>"Rediger"}

      - if permitted_to? :archive, @poster
        =link_to "Arkiver", archive_poster_path(@poster), {:method => :put, :class=>"underline", :title=>"Arkiver"}

      - if permitted_to? :cancel_poster, @poster
        =link_to "Avbestill", cancel_poster_path(@poster), {:method => :put, :class=>"underline", :title=>"Avbestill"}

      - if @poster.responsible==@current_user
        =link_to 'Gi bort ansvar', take_poster_path(@poster) , {:method => :put, :class=>"underline", :title=>"Gi bort ansvaret"} if permitted_to? :take, @poster
      - else
        =link_to 'Ta ansvar', take_poster_path(@poster) , {:method => :put, :class=>"underline", :title=>"Ta jobben"} if permitted_to? :take, @poster

    - if (@poster.status==:archived or @poster.status==:canceled) and permitted_to? :restore, @poster
      =link_to "Gjenopprett", restore_poster_path(@poster), {:method => :put, :class=>"underline", :title=>"Gjenopprett"}
    - if permitted_to? :destroy, @poster
      =link_to "Slett", @poster, {:method=>:delete, :class=>"underline", :title=>"Slett"}
  %h3
    Status:
    = @poster.status_string

  %table{:class => 'table'}
    %tr
      %td
        Bestiller:
      %td
        - if @poster.orderer
          =@poster.orderer.full_name
      %td
        Event:
      %td
        = @poster.event
    %tr
      %td
        Gruppe:
      %td
        = @poster.group
      %td
        Dimensjon:
      %td
        = @poster.dimension
    %tr
      %td
        Ansvarlig:
      %td
        - if @poster.responsible
          =@poster.responsible.full_name
      %td
        Flyers:
      %td
        = @poster.flyers
    %tr
      %td
        Event tid:
      %td
        = l @poster.event_time, :format => :long_datetime
      %td
        Banners:
      %td
        = @poster.banner
    %tr
      %td
        Sted:
      %td
        =@poster.area
      %td
      %td
  %span
    Tekst på plakat:
  %div{:class => 'well'}
    = @poster.poster_text
  %span
    Beskrivelse:
  %div{:class => 'well'}
    = @poster.description
  %span
    Vedlagte filer:
  %div{:class => 'well'}
    %ul{:class=>"asset-ul"}
      - @poster.assets.each do |asset|
        %li{:class=>"asset-li"}
          = link_to( image_tag(asset.image.url(:thumb), :title => asset.image_file_name), asset.image.url(:original) )
          = asset.image_file_name

