=render 'navbar'

%div{:class => 'container'}
  %h2
    = @poster.name

  %div{:class=>"list_buttons"}
    - if @poster.status==:active
      =link_to '<i class="icon-edit"></i>'.html_safe, edit_poster_path(@poster), {:class=>"btn", :title=>"Rediger"}
      =link_to '<i class="icon-briefcase"></i>'.html_safe, archive_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Arkiver"}
      =link_to '<i class="icon-remove"></i>'.html_safe, cancel_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Avbestill"}
      =link_to '<i class="icon-heart"></i>'.html_safe, take_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Ta jobben"}
    - if @poster.status==:archived or @poster.status==:canceled
      =link_to '<i class="icon-repeat"></i>'.html_safe, restore_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Gjenopprett"}
    =link_to '<i class="icon-warning-sign"></i>'.html_safe, @poster, {:method=>:delete, :class=>"btn", :title=>"Slett"}
  %h3
    Status: 
    = @poster.status_string

  %table{:class => 'table'}
    %tr
      %td
        Bestiller: 
      %td
        -if @poster.orderer
          =@poster.orderer.full_name
      %td
        Event: 
      %td
        = @poster.event
    %tr
      %td
        Gruppe: 
      %td
        = @poster.group
      %td
        Dimensjon: 
      %td
        = @poster.dimension
    %tr
      %td
        Ansvarlig:
      %td
        -if @poster.responsible
          =@poster.responsible.full_name
      %td
        Flyers: 
      %td
        = @poster.flyers
    %tr
      %td
        Event tid: 
      %td
        = l @poster.event_time, :format => :long_datetime
      %td
        Banners: 
      %td
        = @poster.banner
    %tr
      %td
        Sted:
      %td
        =@poster.area
  %span
    Tekst på plakat:
  %div{:class => 'well'}
    = @poster.poster_text
  %span
    Beskrivelse:
  %div{:class => 'well'}
    = @poster.description
