- content_for :title, 'Vis Plakat'
= stylesheet_link_tag "assetgrid.css"

%div{:class => 'container'}
  %h2
    = @poster.name

  %div{:class=>"list_buttons"}
    - if @poster.status==:active
      -if permitted_to? :edit, @poster
        =link_to edit_poster_path(@poster), {:class=>"btn", :title=>"Rediger"} do
          %i{:class=>"icon-edit"}

      -if permitted_to? :archive, @poster
        =link_to archive_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Arkiver"} do
          %i{:class=>"icon-briefcase"}

      - if permitted_to? :cancel, @poster
        =link_to cancel_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Avbestill"} do
          %i{:class=>"icon-remove"}

      - if permitted_to? :take, @poster
        =link_to take_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Ta jobben"} do
          %i{:class=>"icon-heart"}

    - if (@poster.status==:archived or @poster.status==:canceled) and permitted_to? :restore, @poster
      =link_to restore_poster_path(@poster), {:method => :put, :class=>"btn", :title=>"Gjenopprett"} do
        %i{:class=>"icon-repeat"}
    - if permitted_to? :destroy, @poster
      =link_to @poster, {:method=>:delete, :class=>"btn", :title=>"Slett"} do
        %i{:class=>"icon-repeat"}
  %h3
    Status: 
    = @poster.status_string

  %table{:class => 'table'}
    %tr
      %td
        Bestiller: 
      %td
        -if @poster.orderer
          =@poster.orderer.full_name
      %td
        Event: 
      %td
        = @poster.event
    %tr
      %td
        Gruppe: 
      %td
        = @poster.group
      %td
        Dimensjon: 
      %td
        = @poster.dimension
    %tr
      %td
        Ansvarlig:
      %td
        -if @poster.responsible
          =@poster.responsible.full_name
      %td
        Flyers:
      %td
        = @poster.flyers
    %tr
      %td
        Event tid: 
      %td
        = l @poster.event_time, :format => :long_datetime
      %td
        Banners: 
      %td
        = @poster.banner
    %tr
      %td
        Sted:
      %td
        =@poster.area
  %span
    Tekst på plakat:
  %div{:class => 'well'}
    = @poster.poster_text
  %span
    Beskrivelse:
  %div{:class => 'well'}
    = @poster.description
  %span
    Vedlagte filer:
  %div{:class => 'well'}
    %ul{:class=>"asset-ul"}
      - @poster.assets.each do |asset|
        %li{:class=>"asset-li"}
          = link_to( image_tag(asset.image.url(:thumb), :title => asset.image_file_name), asset.image.url(:original) )
          = asset.image_file_name
