%p
  =link_to posters_path do
    Tilbake

%ul
  %li
    name:
    = @poster.name
  %li
    Text for the poster:
    = @poster.poster_text
  %li
    Desciption:
    = @poster.description
  %li
    Should the poster have flyers:
    = @poster.flyers
  %li
    Should the poster have banners:
    = @poster.banner
  %li
    Is the poster sent to press:
    = @poster.send_to_press
  %li
    Is the poster archived:
    = @poster.archived
