=render 'navbar'

%div{:class => 'container'}
  %h2
    = @poster.name
  %h3
    Status: 
    = @poster.status_string
  %table{:class => 'table'}
    %tr
      %td
        Bestiller: 
      %td
        = @poster.orderer
      %td
        Event: 
      %td
        = @poster.event
    %tr
      %td
        Gruppe: 
      %td
        = @poster.group
      %td
        Dimensjon: 
      %td
        = @poster.dimension
    %tr
      %td
        Annsvarlig: 
      %td
        = @poster.responsible
      %td
        Flyers: 
      %td
        = @poster.flyers
    %tr
      %td
        Event tid: 
      %td
        = l @poster.event_time, :format => :long_datetime
      %td
        Banners: 
      %td
        = @poster.banner
  %span
    Tekst på plakat:
  %div{:class => 'well'}
    = @poster.poster_text
  %span
    Beskrivelse:
  %div{:class => 'well'}
    = @poster.description
