%ul
  - @dims.each do |t|
    %li
      %span #{t.id}: #{t.text}
      %a= link_to "edit", :action => "edit", :id => t
      -if t.status
        %a= link_to "Arkiver", archive_dimension_path(t), :method => :put
      -else
        %a= link_to "Gjenopprett", restore_dimension_path(t), :method => :put


%a= link_to "new", :action => "new"
